header{
   background-color: rgb(40, 69, 236);
}

h1{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav{
    font-weight: bold;
}

#container{
    border: 2px solid;
    margin: 20px;
    padding: auto;
}

section{
        line-height: 1.5em;
}